tour-footer{
  // background-color: skyblue !important; 
  z-index: 1000;
  
    position:fixed;   
    bottom:1px;
    margin-bottom:0px; 
}
md-toolbar{
    height: 65px !important;
}
@media (min-width: 600px) {
  tour-footer{
    width: 600px;
    left:50%;
    margin-left: -200px;
    }
}
@media(max-width:599px){
  tour-footer{
    left:0px;
    right:0px;
    }
}
.footer-spacer {
  flex: 1 1 auto;
}
.footer-icon {
  padding: 0 16px;
}
.material-icons {font-size: 32px;}

.md-button-toggle-group{
  background-color: skyblue !important; 
}