<md-tab-group>
  <md-tab label="Kultur und Freizeit">
    <ul class="flex-container wrap">
      <li class="flex-item">
        <md-card class="flex-card">
          <img md-card-image src="https://www.oldenburg-tourismus.de/images/lu709phyctu-/oliver.jpeg">
          <md-card-title>
            <h2>Schloss</h2>
          </md-card-title>
          <md-card-content>
            <h3>Landesmuseum für Kunst und Kulturgeschichte Oldenburg</h3>
            <h6>Ein Museum, drei Häuser und ein Garten</h6>
            <h5>Schloßplatz 1 / 26122 Oldenburg</h5>
          </md-card-content>
          <md-card-actions align="end">
            <button md-button (click)="setcard11(!card11)" *ngIf="!card11"><md-icon>add</md-icon></button>
            <button md-button (click)="setcard11(!card11)" *ngIf="card11"><md-icon>delete</md-icon></button>
            <button md-button>mehr erfahren</button>
          </md-card-actions>
        </md-card>
      </li>
      <li class="flex-item">
        <md-card class="flex-card">
          <img md-card-image src="//www.oldenburg-tourismus.de/images/5!kl0076rna-/theater.jpeg">
          <md-card-title>
            <h2>Theater Laboratorium</h2>
          </md-card-title>
          <md-card-content>
            <h6>Figurentheater</h6>
            <h5>Kleine Straße 8 / 26121 Oldenburg</h5>
          </md-card-content>
          <md-card-actions align="end">
            <button md-button (click)="setcard12(!card12)" *ngIf="!card12"><md-icon>add</md-icon></button>
            <button md-button (click)="setcard12(!card12)" *ngIf="card12"><md-icon>delete</md-icon></button>
            <button md-button>mehr erfahren</button>
          </md-card-actions>
        </md-card>
      </li>

    </ul>


  </md-tab>

  <!--============-->

  <md-tab label="Natur">
  <ul class="flex-container wrap">
    <li class="flex-item">
      <md-card class="flex-card">
        <img md-card-image src="//www.oldenburg-tourismus.de/images/8hazzqwwrre-/gast-antje-reil-probiert-den-hoerthron-im-oldenburger-hoergarten.jpeg">
        <md-card-title>
          <h2>Hörgarten</h2>
        </md-card-title>
        <md-card-content>
          <h6>Themenpark</h6>
          <h5>Marie-Curie-Straße 2 / 26129 Oldenburg</h5>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button (click)="setcard21(!card21)" *ngIf="!card21"><md-icon>add</md-icon></button>
            <button md-button (click)="setcard21(!card21)" *ngIf="card21"><md-icon>delete</md-icon></button>
          <button md-button>mehr erfahren</button>
        </md-card-actions>
      </md-card>
    </li>
    <li class="flex-item">
      <md-card class="flex-card">
        <img md-card-image src="//www.oldenburg-tourismus.de/images/dfiv!saw0ue-/die-historischen-wallanlagen-vor-dem-kulturzentrum-pfl.jpeg">
        <md-card-title>
          <h2>Wallanlagen</h2>
        </md-card-title>
        <md-card-content>
          <h6>Denkmalgeschützte Gartenanlagen in der…</h6>
          <h5>Heiligengeistwall / 26122 Oldenburg</h5>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button (click)="setcard22(!card22)" *ngIf="!card22"><md-icon>add</md-icon></button>
          <button md-button (click)="setcard22(!card22)" *ngIf="card22"><md-icon>delete</md-icon></button>
          <button md-button>mehr erfahren</button>
        </md-card-actions>
      </md-card>
    </li>
   
    
    </ul>


  </md-tab>
</md-tab-group>
<div class="spase-siv"></div>
