 <ul class="flex-container wrap">
      <li class="flex-item">
        <md-card class="flex-card">
          <img md-card-image src="assets/pic01.PNG">
        </md-card>
      </li>
      <li class="flex-item">
        <md-card class="flex-card">
           <md-card-title>
            <h2>Events</h2>
          </md-card-title>
          <img md-card-image src="//www.oldenburg-tourismus.de/images/urdgud0hbcy-/nachtaufnahme-mit-beleuchtetem-kettenkarussell-und-riesenrad-auf-dem-oldenburger.jpeg">
          <md-card-content>            
            <h4>Event-Highlights 2017</h4>
          </md-card-content>
          <md-card-actions align="end">
            <button md-button>mehr erfahren</button>
          </md-card-actions>
        </md-card>
      </li>

    </ul>